{{#each []}}
<li class="list-group-item">
  <a href="/#profile/{{ username }}">
    <img src="/images/{{ profile_image }}" class="img-circle pull-left" width="40">
    <p>{{ username }}</p>
    <p>{{ name }}</p>
  </a>
</li>
{{/each}}
