{{#each []}}
<li class="list-group-item search-user-profile">
  <a href="#profile/{{ username }}">
    <span class="profile-image">
    {{#if profile_image }}
      <img src="{{#s3Url id profile_image}}{{/s3Url}}" class="pull-left">
      {{else}}
      <img src="images/placeholders/placeholder_profile.png">
      {{/if}}
    </span>

    <p>{{ username }}</p>
    <p>{{ name }}</p>
  </a>
</li>
{{/each}}
