<div class="img-active">

  <img src="images/{{ folder }}/{{ original }}" class="img-responsive" data-src="images/{{ folder }}/{{ original }}">
</div>

<div class="filters-frame">
  <ul class="slidee">

  <li class="select-image" data-filter="original">
      <img
      src="
      {{#absoluteUrl 'images/placeholders/placeholder_original.jpeg'}}
      {{/absoluteUrl}}
      "
      class="load-image"  width="100" heigh="100">
      <p>Original</p>
  </li>

    <li class="select-image" data-filter="concentrate">
      <img src="
      {{#absoluteUrl 'images/placeholders/placeholder_original.jpeg'}}
      {{/absoluteUrl}}
      " class="load-image"  width="100" heigh="100">
      <p>concentrate</p>
    </li>

    <li class="select-image" data-filter="crossProcess">
      <img src="
      {{#absoluteUrl 'images/placeholders/placeholder_original.jpeg'}}
      {{/absoluteUrl}}
      " class="load-image"  width="100" heigh="100">
      <p>crossProcess</p>
    </li>

    <li class="select-image" data-filter="herMajesty">
      <img src="
      {{#absoluteUrl 'images/placeholders/placeholder_original.jpeg'}}
      {{/absoluteUrl}}
      " class="load-image"  width="100" heigh="100">
      <p>herMajesty</p>
    </li>

    <li class="select-image" data-filter="jarques">
      <img src="
      {{#absoluteUrl 'images/placeholders/placeholder_original.jpeg'}}
      {{/absoluteUrl}}
      " class="load-image"  width="100" heigh="100">
      <p>jarques</p>
    </li>

    <li class="select-image" data-filter="love">
      <img src="
      {{#absoluteUrl 'images/placeholders/placeholder_original.jpeg'}}
      {{/absoluteUrl}}
      " class="load-image"  width="100" heigh="100">
      <p>love</p>
    </li>

    <li class="select-image" data-filter="nostalgia">
      <img src="
      {{#absoluteUrl 'images/placeholders/placeholder_original.jpeg'}}
      {{/absoluteUrl}}
      " class="load-image"  width="100" heigh="100">
      <p>Nostalgia</p>
    </li>

    <li class="select-image" data-filter="pinhole">
      <img src="
      {{#absoluteUrl 'images/placeholders/placeholder_original.jpeg'}}
      {{/absoluteUrl}}
      " class="load-image"  width="100" heigh="100">
      <p>pinhole</p>
    </li>

    <li class="select-image" data-filter="sunrise">
      <img src="
        {{#absoluteUrl 'images/placeholders/placeholder_original.jpeg'}}
        {{/absoluteUrl}}
      " class="load-image"  width="100" heigh="100">
      <p>sunrise</p>
    </li>

    <li class="select-image" data-filter="vintage">
      <img src="
      {{#absoluteUrl 'images/placeholders/placeholder_original.jpeg'}}
      {{/absoluteUrl}}
      " class="load-image"  width="100" heigh="100">
      <p>vintage</p>
    </li>
  </ul>
</div>