<div class="frame">
  <ul class="slidee">
    <li><img data-caman=" vintage() " src="/uploads/{{ original }}" width="100"></li>
    <li><img data-caman=" lomo() " src="/uploads/{{ original }}" width="100"></li>
    <li><img data-caman=" jarques() " src="/uploads/{{ original }}" width="100"></li>
    <li><img data-caman=" pinhole() " src="/uploads/{{ original }}" width="100"></li>
  </ul>
</div>