<div class="img-active">
  <img data-original="/images/{{ folder }}/{{ original }}" src="/images/{{ folder }}/{{ original }}" class="img-responsive">
</div>

<div class="frame">
  <ul class="slidee">

  <li class="select-image" data-filter="original">
      <img src="http://placehold.it/100x100" class="load-image"  width="100" heigh="100">
      <h4>Original</h4>
  </li>

    <li class="select-image" data-filter="hemingway">
      <img src="http://placehold.it/100x100" class="load-image"  width="100" heigh="100">
      <h4>hemingway</h4>
    </li>

    <li class="select-image" data-filter="jarques">
      <img src="http://placehold.it/100x100" class="load-image"  width="100" heigh="100">
      <h4>jarques</h4>
    </li>

    <li class="select-image" data-filter="pinhole">
      <img src="http://placehold.it/100x100" class="load-image"  width="100" heigh="100">
      <h4>pinhole</h4>
    </li>

    <li class="select-image" data-filter="sunrise">
      <img src="http://placehold.it/100x100" class="load-image"  width="100" heigh="100">
      <h4>sunrise</h4>
    </li>

    <li class="select-image" data-filter="nostalgia">
      <img src="http://placehold.it/100x100" class="load-image"  width="100" heigh="100">
      <h4>nostalgia</h4>
    </li>

    <li class="select-image" data-filter="concentrate">
      <img src="http://placehold.it/100x100" class="load-image"  width="100" heigh="100">
      <h4>concentrate</h4>
    </li>

    <li class="select-image" data-filter="sinCity">
      <img src="http://placehold.it/100x100" class="load-image"  width="100" heigh="100">
      <h4>sinCity</h4>
    </li>
  </ul>
</div>