<div class="img-active">
  <img data-original="/images/{{ folder }}/{{ original }}" src="/images/{{ folder }}/{{ original }}" class="img-responsive">
</div>

<div class="filters-frame">
  <ul class="slidee">

  <li class="select-image" data-filter="original">
      <img src="/images/placeholders/placeholder_original.jpeg" class="load-image"  width="100" heigh="100">
      <p>Original</p>
  </li>

    <li class="select-image" data-filter="hemingway">
      <img src="/images/placeholders/placeholder_hemingway.jpeg" class="load-image"  width="100" heigh="100">
      <p>Hemingway</p>
    </li>

    <li class="select-image" data-filter="jarques">
      <img src="/images/placeholders/placeholder_jarques.jpeg" class="load-image"  width="100" heigh="100">
      <p>Jarques</p>
    </li>

    <li class="select-image" data-filter="pinhole">
      <img src="/images/placeholders/placeholder_pinhole.jpeg" class="load-image"  width="100" heigh="100">
      <p>Pinhole</p>
    </li>

    <li class="select-image" data-filter="sunrise">
      <img src="/images/placeholders/placeholder_sunrise.jpeg" class="load-image"  width="100" heigh="100">
      <p>Sunrise</p>
    </li>

    <li class="select-image" data-filter="nostalgia">
      <img src="/images/placeholders/placeholder_nostalgia.jpeg" class="load-image"  width="100" heigh="100">
      <p>Nostalgia</p>
    </li>

    <li class="select-image" data-filter="concentrate">
      <img src="/images/placeholders/placeholder_concentrate.jpeg" class="load-image"  width="100" heigh="100">
      <p>Concentrate</p>
    </li>

    <li class="select-image" data-filter="sinCity">
      <img src="/images/placeholders/placeholder_sinCity.jpeg" class="load-image"  width="100" heigh="100">
      <p>sinCity</p>
    </li>
  </ul>
</div>