<div class="img-active">
  <img data-original="/images/{{ folder }}/{{ original }}" src="/images/{{ folder }}/{{ original }}" class="img-responsive">
</div>

<div class="filters-frame">
  <ul class="slidee">

  <li class="select-image" data-filter="original">
      <img src="http://placehold.it/100x100" class="load-image"  width="100" heigh="100">
      <p>Original</p>
  </li>

    <li class="select-image" data-filter="hemingway">
      <img src="http://placehold.it/100x100" class="load-image"  width="100" heigh="100">
      <p>hemingway</p>
    </li>

    <li class="select-image" data-filter="jarques">
      <img src="http://placehold.it/100x100" class="load-image"  width="100" heigh="100">
      <p>jarques</p>
    </li>

    <li class="select-image" data-filter="pinhole">
      <img src="http://placehold.it/100x100" class="load-image"  width="100" heigh="100">
      <p>pinhole</p>
    </li>

    <li class="select-image" data-filter="sunrise">
      <img src="http://placehold.it/100x100" class="load-image"  width="100" heigh="100">
      <p>sunrise</p>
    </li>

    <li class="select-image" data-filter="nostalgia">
      <img src="http://placehold.it/100x100" class="load-image"  width="100" heigh="100">
      <p>nostalgia</p>
    </li>

    <li class="select-image" data-filter="concentrate">
      <img src="http://placehold.it/100x100" class="load-image"  width="100" heigh="100">
      <p>concentrate</p>
    </li>

    <li class="select-image" data-filter="sinCity">
      <img src="http://placehold.it/100x100" class="load-image"  width="100" heigh="100">
      <p>sinCity</p>
    </li>
  </ul>
</div>