<div class="img-active">
  <img data-original="/uploads/{{ original }}" src="/uploads/{{ original }}" class="img-responsive">
</div>

<div class="frame">
  <ul class="slidee">
  
    <li class="select-image" data-filter="hemingway">
      <img src="/images/placeholder_hemingway.jpg" class="load-image"  width="100" heigh="100">
      <h4>hemingway</h4>
    </li>

    <li class="select-image" data-filter="jarques">
      <img src="/images/placeholder_jarques.jpg" class="load-image"  width="100" heigh="100">
      <h4>jarques</h4>
    </li>

    <li class="select-image" data-filter="pinhole">
      <img src="/images/placeholder_pinhole.jpg" class="load-image"  width="100" heigh="100">
      <h4>pinhole</h4>
    </li>

    <li class="select-image" data-filter="sunrise">
      <img src="/images/placeholder_sunrise.jpg" class="load-image"  width="100" heigh="100">
      <h4>sunrise</h4>
    </li>
  </ul>
</div>