<div class="photos-grid">
  {{#everyNth photos 3}}

  {{#if isModZeroNotFirst}}
</div>
{{/if}}

{{#if isModZero}}
<div class="row">
  {{/if}}

  <a href="#photo/{{ id }}" class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
    <img src="images/photo-placeholder.gif" data-src="{{#s3Url owner path}}{{/s3Url}}" class="img-responsive"/>
  </a>

  {{/everyNth}}
</div>

