<h5>{{#countArr photos}} {{/countArr}} Fotos</h5>
<div class="row">
  {{#each photos}}
  <a href="#photo/{{ id }}">
    <img src="/images/{{ owner }}/{{ path }}" alt="" class="col-xs-4 col-sm-4" style="padding:2px"/>
  </a>
  {{/each}}
</div>