<section class="search-hastag-or-users">

<input type="text" class="search form-control" data-type="hashtags" placeholder="Buscar por hashtag">

<ul class="nav nav-tabs">
  <li role="presentation" class="active">
    <a href="#" data-type="hashtags" class="change-type">Hashtags</a>
  </li>
  <li role="presentation">
    <a href="#" data-type="users" class="change-type">Usuarios</a>
  </li>
</ul>

<ul class="search-autocomplete-hashtags list-group"></ul>
</section>