<section class="search-hastag-or-users">

  <input type="text" class="search form-control" data-type="hashtags" placeholder="Buscar por hashtag">

  <ul class="options">
    <li>
    <a href="#" data-type="hashtags" class="change-type btn active"><i class="icon ion-pound"></i> Hashtags</a>
    </li>
    <li>
      <a href="#" data-type="users" class="change-type btn"><i class="icon ion-ios-people-outline"></i> Usuarios</a>
    </li>
  </ul>

  <ul class="search-autocomplete list-group"></ul>
</section>