<input type="text" class="search form-control" data-type="hashtags">
<a href="#" data-type="hashtags" class="change-type btn btn-primary">Hashtags</a>
<a href="#" data-type="users" class="change-type btn btn-primary">Usuarios</a>

<ul class="search-autocomplete list-group"></ul>