.profile-page {
  max-width: 960px;
  margin: 0 auto;

  > header {
    padding: 0;
    background: #fff;
    float: left;
    width: 100%;
    .bio {
      width: 100%;
      display: block;
      float: left;
      padding: 5px 10px 0 10px;
      margin: 0;
    }

   .count{
      display: block;
      margin: 10px 10px 0 0;
      float: right;
        .divider {
          height: 20px;
          border-left: 1px solid #ccc;
          width: 1px;
          float: left;
          margin-top: 14px;
        }

        > .photos-count {
          .count-num {
            font-weight: 400;
            font-size: 1.8em;
          }
          line-height: 1;
          float: right;
          font-size: 0.9em;
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          text-align: center;
          padding: 5px;
        }

      }

    .profile-image {
      border: 1px solid #fff;
      overflow: hidden;
      margin-right: 10px;
      z-index: 2;
      float: left;
      margin: 10px 0 0 10px;
      @include image-circle(50px, 50px, 2px solid #fff);
    }

    > .profile-info {
      padding: 0;
      float: left;
      margin: 10px 0 0 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0;

      > .user-name {
        color: $blue-main;
      font-weight: bold;
      font-size: 0.9em;
    }

    > .user-area {
      font-size: 0.8em;
      color: #777;
    }

    }

    > .profile-actions {
      width: 100%;
      float: left;
      padding: 0;
      border-top: 1px solid #777;
      margin: 0;
      margin-top: 10px;

      li {
        float: left;
        width: 20%;
        text-align: center;
        a {
          font-size: 1.5em;
          box-shadow: none;
        }


        &:nth-child(2) {
          text-align: center;
        }
      }

       > .btn {
          border-radius: 0;
          border: 1px solid lighten($blue-main, 15%);
          color: lighten($blue-main, 15%);
          box-shadow: none;
      }

      > .active {
        background: lighten($blue-main, 15%);
        color: #fff;
      }
    }
  }
}

.photos-grid {
  background:#fff;
  > .row {
    margin: 0;
    > a {
       padding-bottom: 2px;
      img {
        max-width: 100%;
      }
    }
  }
  }