{
"env": {
  "browser": true,
  "node": true,
  "amd": true,
  "mocha": true
  },

  "plugins": [
    "backbone"
  ],

  "rules": {
    "quotes": [2, "single"],
    curly: [2, "multi-line"],
    "no-underscore-dangle": 0
  }
}