<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>BVC Instaproud Guía</title>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <!-- end -->
  <link rel="stylesheet" href="css/guide.css">
  <style>
  .skrollr{
    float: left;
    width: 100%;
    height: 100%;
}
  </style>
</head>

<body>

  <div class="page-wrapper">

    <section
      id="home"
      class="header-11-sub"
      data-anchor-target="#home" style="background: url('images/guide/bg.jpg'); background-size: 100% 100%;">

      <div class="container">
        <div class="row">

          <div class="col-sm-5" style="text-align: center">
            <img src="images/guide/logo.png" width="200" alt="logo instaproud">
            <div class="line"></div>
            <p style="font-size:1.5em">La red social de los que nos sentimos #OrgullosamenteBVC</h4>

            <a  href="#works" class="btn btn-vote">CÓMO FUNCIONA</a>

            <a  href="/#register"
              class="btn btn-vote"
              style="display:block;margin-top:30px;border-radius: 0;border: 2px solid #fff; color:#fff">REGISTRARSE</a>

            <a  href="#rewards"
                class="btn btn-vote"
                style="display:block;margin-top:30px;border-radius: 0;border: 2px solid #fff; color:#fff">PREMIOS</a>
          </div>

            <div
              class="col-sm-6"
              style="text-align:center"
              data-center="opacity: 1"
              data-top-bottom="opacity: 0.2"
              >
              <img src="images/guide/phone_1.png">
            </div>
          </div>
        </div>
      </section>

      <section
        class="header-11-sub bg-red"
        id="works"
        data-anchor-target="#works"
        style="background: url('images/guide/bg_red.jpg'); background-size: 100% 100%;"
      >
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="logo-center" style="margin: 20px auto; max-width: 200px;">
                <img src="images/guide/logo.png" width="200" alt="">
              </div>

              <div
                class="video-container"
                data-center="opacity: 1"
                data-top="opacity: 1"
                data-top-bottom="opacity: 0.2"
              >
                <video width="60%" style="margin: 0 auto; display: block" controls>
                <source src="videos/guide.mp4" type="video/mp4">
                  El navegador no soporta la etiqueta de video.
                </video>
              </div>
                <div class="btns-container" style="max-width: 450px;margin: 0 auto; text-align: center">
                  <a  href="/#register" class="btn" style="width:200px; margin-top:30px; border-radius: 0; border: 2px solid #fff; color:#fff">REGISTRARSE</a>
                  <a  href="#rewards" class="btn" style="width:200px;margin-top:30px;border-radius: 0;border: 2px solid #fff; color:#fff">PREMIOS</a>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section
          class="header-11-sub bg-yellow"
          id="rewards"
          style="padding: 30px 0 100px 0; background: url('images/guide/bg_yellow.jpg'); background-size: 100% 100%;"
          >
          <div class="container">
            <div class="row">
              <div class="col-sm-12" style="text-align: center; padding: 0 0 100px 0">

                <div class="logo-center" style="margin: 20px auto; max-width: 200px;">
                  <img src="images/guide/logo.png" width="200" alt="">
                  <div class="line"></div>
                </div>

                <h4>RANKING PREMIOS</h4>
                <h5 style="color:#fff">Muy pronto</h5>
                <div class="rankings-lists">
                  <ul style="list-style: none; color: #fff; text-align: center">
                    <li>
                      <img src="images/guide/icon_plain.png" width="50px" alt="">
                    </li>

                    <li style="font-weight: 500; padding: 20px 0">VIAJE A SAN ANDRÉS</li>
                    <li>Ivan Eduardo Cabrera Piñeres</li>
                    <li>Edna Melissa Jaimes Trujillo</li>
                    <li>German A Jimenez</li>
                    <li>Erika Alexandra Romero Rincon</li>
                    <li>Carlos Roberto Suarez Morales</li>
                    <li>Xiomara Canal</li>
                    <li>Juan Carlos Rodriguez</li>
                    <li>Luis Alejandro Garzon Sanchez</li>
                    <li>Felipe Patarroyo</li>
                  </ul>

                 <!--  <ul style="list-style: none; color: #fff; text-align: center">
                    <li><img src="images/guide/icon_sun.png" width="50px" alt=""></li>
                    <li style="font-weight: 500;padding: 20px 0">TARDE LIBRE CON ALMUERZO</li>
                    <li>1. Mercadeo</li>
                    <li>2. Mercadeo</li>
                    <li>3. Mercadeo</li>
                    <li>4. Mercadeo</li>
                    <li>5. Mercadeo</li>
                    <li>6. Mercadeo</li>
                    <li>7. Mercadeo</li>
                    <li>8. Mercadeo</li>
                    <li>9. Mercadeo</li>
                    <li>10. Mercadeo</li>
                  </ul> -->
                </div>

                <div class="btns-container" style="max-width: 450px; margin: 0 auto">
                  <a  href="/#register" class="btn" style="width:200px;margin-top:30px;border-radius: 0;border: 2px solid #fff; color:#fff">REGISTRARSE</a>

                  <a  href="#works" class="btn" style="width:200px;margin-top:30px;border-radius: 0;border: 2px solid #fff; color:#fff">COMÓ FUNCIONA</a>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- footer-2 -->
        <footer class="footer-2">
          <div class="container">
            <div class="pull-left">
              <img src="images/guide/logos.png" style="max-width: 70%">
            </div>
            <div class="pull-right">
              <img src="images/guide/sublogo.png" alt="" class="sublogo" style="max-width: 70%">
            </div>
          </div>
        </footer>
      </div>
      <script src="node_modules/jquery/dist/jquery.min.js"></script>
      <script src="node_modules/skrollr/dist/skrollr.min.js"></script>
      <script>
          $(function() {
            $('a[href*=#]:not([href=#])').click(function() {
              if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                if (target.length) {
                  $('html,body').animate({
                    scrollTop: target.offset().top
                  }, 1000);
                  return false;
                }
              }
            });
          });
      </script>
    </body>
    </html>