<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel='stylesheet' href='/css/dist/dependencies.css' />
    <link rel="stylesheet" type="text/css" href='/bower_components/font-awesome/css/font-awesome.min.css'>
    <link rel='stylesheet' href='/css/dist/app.css' />
  </head>
  
  <body id="app-instaproud">
  
    <div class="header-nav">
      <h3 class="pull-left">Instaproud</h3>
      <a href="#" class="ui-header-next next-action"><i class="fa fa-arrow-right"></i></a>
    </div>

  <img src="/bower_components/svg-loaders/svg-loaders/grid.svg" class="preloader hidden" />

  <div id="app-container" style="height: 100%"> </div>

  <ul class="footer-nav-actions">
    <li class="active"><a href="#"><i class="fa fa-home"></i></a></li>
    <li><a href="#"><i class="fa fa-search"></i></a></li>
    <li class="camera">
        <span class="btn-file">
        <i class="fa fa-camera"></i><input type="file" class="uploadPhoto" name="photo">
        </span>
    </li>
    <li><a href="#"><i class="fa fa-heart"></i></a></li>
    <li><a href="#"><i class="fa fa-user"></i></a></li>
  </ul>
  
    <script src="/js/dist/app.js"></script>
  </body>
</html>
