<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="theme-color" content="#00509a ">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel='stylesheet' href='/css/dist/dependencies.css' />
    <link rel="stylesheet" type="text/css" href='/bower_components/font-awesome/css/font-awesome.min.css'>
    <link rel='stylesheet' href='/css/dist/app.css' />
  </head>

  <body id="app-instaproud">

  <div id="header-container"></div>

  <img src="/bower_components/svg-loaders/svg-loaders/grid.svg" class="preloader hidden" />

  <div id="app-container"> </div>
  <hr>
<a href="#" class="load-more btn btn-primary hidden" style="width:100%">Cargar más</a>
  <div id="nav-container"></div>

  <script src="/js/dist/app.js"></script>
  </body>
</html>
