<!DOCTYPE html>
<html>
  <head>
    <title>Instaproud</title>
    <meta name="theme-color" content="#00509a">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel='stylesheet' href='css/dist/dependencies.css' />
    <link rel="stylesheet" type="text/css" href="bower_components/ionicons/css/ionicons.css">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='css/dist/app.css' />
  </head>

  <body id="app-instaproud">

  <div id="header-container"></div>
  <div id="app-container"></div>
  <div id="nav-container"></div>

  <script src="js/dist/app.js"></script>
  </body>
</html>
