<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel='stylesheet' href='/css/dist/dependencies.css' />
  <link rel="stylesheet" type="text/css" href="/node_modules/alertifyjs/build/css/alertify.css">
</head>

<body id="app-instaproud">
  <h1>Instaproud</h1>


  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/node_modules/underscore/underscore.js"></script>
  <script src="/node_modules/alertifyjs/build/alertify.js"></script>
  <script>

    $('.form-register-btn').on('click', function(e) {
      e.preventDefault();

      var email = $(".form-register").find("input[name='email']").val();
      var emailChecked = removeDomain(email);
      var password = $(".form-register").find("input[name='password']").val();
      var data = {'email': emailChecked, 'password': password};

      $.ajax({
        url: "/users",
        method: "POST",
        data: data
      }).then(function(res){
        localStorage.setItem("user", JSON.stringify(res));
        window.location.replace('/#profile/'+res.id+'/edit');
      })
      .fail(function(res) {
        _.each(res.responseJSON, function(err, ind){
          alertify.error(err.message);
        })
      });
    });

  </script>

</body>
</html>
