<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel='stylesheet' href='/css/dist/dependencies.css' />

</head>
  
<body id="app-instaproud">

<form action="/login" method="POST" class="form col-lg-12">
  <div class="form-group">
    <label>Usuario</label>
    <input type="text" class="form-control" name="usuario" placeholder=" @bvc.com"/>
   
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" name="password" />
  </div>
  <button type="submit" />
</form>
   
  </body>
</html>
