.footer-nav-actions {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  z-index: 999;
  border-top: 1px solid #555;

  @media #{$tablet}, #{$desktop}, #{$desktop-lg} {
    width: 50px;
  }

  li{
    background: #fff;
    display: block;
    float: left;
    width: 19.99%;
    list-style: none;

    @media #{$tablet}, #{$desktop}, #{$desktop-lg} {
      float: none;
      display: block;
      width: 100%;
    }

    > a {
      display: block;
      width: 100%;
      padding: 5px 0 5px 0;
      text-align: center;
      color: #999;
      font-size: 2.2em;
    }

    &.active{

      > a {
        color: $blue-main;
        font-weight: bold;
      }
    }

    &.camera {
      position: relative;
      cursor: pointer;

      .btn-file {
        display: block;
        width: 100%;
        padding: 5px 0 5px 0;
        text-align: center;
        color: #999;
        font-size: 2.2em;
        position: relative;
        overflow: hidden;
        cursor: pointer;

      input[type=file]{
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        cursor: inherit;
        display: block;
        width: 100%;
      }
    }
    }

  }
}