html{
  height: 100%;
}
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

body {
  background: #f1f1f1;
  font: 14px "Lato", Helvetica, Arial, sans-serif;
  padding-top: 50px;
  padding-bottom: 120px;
  height: 100%;
}

img{
   -webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);
   transform: translateZ(0);
}

a {
  color: #00B7FF;
}

#app-container{
  float: left;
  width: 100%;
}

.load-more{
  margin-bottom: 70px;
}

.ui-header-next{
  display: block;
  float: right;
  font-size: 28px;
  color: #fff;
  margin-bottom: 5px;
}

.img-active {
  img{
    width: 100%;
  }
}

.frame{
  backface-visibility: hidden;
  width: 100%;
  overflow: scroll;
  height: 150px;
  position: fixed;
  bottom: 0;
  background: #161818;
  ul{
    padding: 0;
    width: 600px;
    li{
      display: inline-block;
      list-style: none;
      width: 100px;
    }
  }
}

.header-nav{
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  margin: 0;
  z-index: 999;
  padding: 10px 30px 0px 30px;
  color: #fff;
  h3, h4{
    margin: 0;
    color: #fff;
  }

}

.preloader{
  display: block;
  margin: 60px auto;
  width: 70px;
  height: 70px;
}

#nav-container{
  backface-visibility: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
}

.footer-nav-actions{
  width: 100%;
  background: #212326;
  display: block;
  margin: 0;
  padding: 0;
  z-index: 999;
  li{
    background: #212326;
    display: inline-block;
    float: left;
    list-style: none;
    width: 19.99%;
    padding: 10px 15px 0 10px;

    &.active{
      background: #333;
    }

    &.camera{
      position: relative;
      background: #00509a;
      color: #fff;
    }

    a{
      text-align: center;
      color: #9CA0A3;
      display: block;
      height: 50px;
      font-size: 2.2em;
    }

    .btn-file{
      text-align: center;
      color: #ccc;
      display: block;
      height: 50px;
      font-size: 1.9em;
      position: relative;
      overflow: hidden;

      input[type=file]{
        position: absolute;
        top: 0;
        right: 0;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        cursor: inherit;
        display: block;
        width: 100%;
      }
    }
  }
}

.edit-profile-img{
  text-align: center;
  color: #333;
  display: block;
  height: 50px;
  font-size: 1em;
  position: relative;
  overflow: hidden;

  input[type=file]{
    position: absolute;
    top: 0;
    right: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
    width: 100%;
  }
}


.filters{
  padding: 0;

  li{
    display: inline-block;
    width: 150px;
    h4{
      text-align: center;
     color: #fff;
    }

  }
}

.profile-img-container{
  position: relative;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  overflow: hidden;
  background: #fff;
  float: left;

  img{
    width: 150%;
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%);
  }
}


@import 'photos/item';

