@import 'variables/colors';
@import 'variables/queries';
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);

html{
  height: 100%;
}

body {
  background: #F2F2F2;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  height: 100%;
}

.form-control {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid $blue-main;
  transition: all 400ms;
}

button {
  &:focus {
    outline: none;
    outline: 0;
  }
}

.btn-primary {
  background: $blue-main;
  border-color: $blue-main;
}

.btn {
  transition: all 400ms;
  border-radius: 0;

  &:focus {
    outline: none;
  }

   &:active {
    outline: none;
  }
}

img{
   -webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);
   transform: translateZ(0);
}

a {
  color: $blue-main;
}

#nprogress .bar {
  background: darken($blue-main, 10%);

  position: fixed;
  z-index: 1031;
  top: 50px;
  left: 0;

  width: 100%;
  height: 4px;
}

#nprogress .spinner {
  top: 10px;
  right: 60px;
}

#nprogress .spinner-icon {
  width: 25px;
  height: 25px;
}

.form-control {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.list-group-item {
  border: none;
  border-bottom: 1px solid $blue-main;
  border-top: 1px solid $blue-main;

  &:first-child, &:last-child {
    border-radius: 0;
  }

}

#header-container{
  margin-top: 50px;
}

#app-container {
  @media #{$tablet} {
    max-width: 500px;
  }

  @media #{$desktop} {
    max-width: 700px;
  }

  @media #{$desktop-lg} {
    max-width: 960px;
  }

  margin: 0 auto;
  margin-bottom: 50px;
}

.load-more{
  margin-bottom: 70px;
}

.ui-header-next{
  display: block;
  float: right;
  font-size: 28px;
  color: #fff;
  margin-bottom: 5px;
}

.preloader{
  display: block;
  margin: 60px auto;
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  color: #335377;
}

#nav-container{
  backface-visibility: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;

  @media #{$tablet}, #{$desktop}, #{$desktop-lg} {
    top: 160px;
    left: 30px;
    width: 50px;
  }
}

.edit-profile-img{
  text-align: center;
  color: #333;
  display: block;
  height: 50px;
  font-size: 1em;
  position: relative;
  overflow: hidden;

  input[type=file]{
    position: absolute;
    top: 0;
    right: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
    width: 100%;
  }
}

.filters{
  padding: 0;

  li{
    display: inline-block;
    width: 150px;
    h4{
      text-align: center;
     color: #fff;
    }

  }
}

.profile-img-container{
  position: relative;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  overflow: hidden;
  background: #fff;
  float: left;

  img{
    width: 150%;
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%);
  }
}

.alert {
  padding: 10px;
  border-radius: 0;
  margin-bottom: 10px;
}

.alert-warning {
  border: none;
}

@import 'mixins/image_circle';
@import 'app_nav';
@import 'app_header';

@import 'photos/item';
@import 'photos/filters';
@import 'photos/caption';
@import 'photos/search';
@import 'photos/hashtag';

@import 'profile/item';
@import 'profile/login';
@import 'profile/edit';

@import 'activities/item';


