<ul class="footer-nav-actions animated">

  <li class="active">
    <a href="#"><i class="fa fa-home"></i></a>
  </li>

  <li>
    <a href="#search"><i class="fa fa-search"></i></a>
  </li>

  <li class="camera">
    <span class="btn-file">
      <i class="fa fa-camera"></i>
      <input type="file" class="uploadPhoto" name="photo">
    </span>
  </li>

  <li>
    <a href="#activity"><i class="fa fa-heart"></i></a>
  </li>

  <li>
    <a href="#profile"><i class="fa fa-user"></i></a>
  </li>

</ul>