<div class="header-nav" style="background: {{#if bgColor}} #{{bgColor}} {{/if}}">
  <div class="container">
    <a href="#" class="back-button hidden pull-left animated slideInLeft" >
      <i class="icon ion-ios-arrow-back"></i>
    </a>

    <a href="#" class="close-button hidden pull-left animated slideInLeft" >
      <i class="icon ion-ios-close-empty"></i>
    </a>

    {{#if title}}
      <h4>{{ title }}</h4>
    {{else}}
      <div class="logo">
        <a href="#"><img src="logo.png" width="100" ></a>
      </div>
    {{/if}}

    <a href="#" class="rotate-button hidden animated slideInRight">
      <i class="icon ion-ios-refresh-empty"></i>
    </a>

    <a href="#" class="next-button hidden next-action animated slideInRight">
      <i class="icon ion-ios-arrow-forward"></i>
    </a>

    <a href="#" class="check-button hidden next-action">
      <i class="icon ion-checkmark"></i>
    </a>

    <a href="#logout" class="close-session-button hidden">
      Cerrar Sesion
    </a>
  </div>
</div>