<div class="header-nav"
      style="background: {{#if bgColor}} #{{bgColor}} {{/if}}"
>
<div class="container">
  <a href="#" class="back-button hidden pull-left animated slideInLeft" >
    <i class="fa fa-chevron-left"></i>
  </a>

  <a href="#" class="close-button hidden pull-left animated slideInLeft" >
    <i class="fa fa-times"></i>
  </a>

  {{#if title}}
    <h4 class="pull-left">{{ title }}</h4>
  {{else}}
    <a href="#"><img src="logo.png" width="100" class="logo"></a>
  {{/if}}

  <a href="#" class="next-button hidden next-action animated slideInRight">
    <i class="fa fa-chevron-right"></i>
  </a>

  <a href="#" class="check-button hidden next-action">
    <i class="fa fa-check"></i>
  </a>
</div>
</div>