<ul class="footer-nav-actions animated">

  <li class="active">
    <a href="/#"><span class="oi oi-home"></span></a>
  </li>

  <li>
    <a href="/#search"><span class="oi oi-magnifying-glass"></span></a>
  </li>

  <li class="camera">
    <span class="btn-file">
      <span class="oi oi-camera-slr"></span>
      <input type="file" class="uploadPhoto" name="photo">
    </span>
  </li>

  <li>
    <a href="/#activity"><i class="fa fa-heart"></i></a>
  </li>

  <li>
    <a href="/#profile"><i class="fa fa-user"></i></a>
  </li>

</ul>