<ul class="footer-nav-actions">

  <li class="home">
    <a href="#"><span></span></a>
  </li>

  <li class="search">
    <a href="#search"><span></span></a>
  </li>

  <li class="camera">
    <span class="btn-file">
      <span></span>
      <input type="file" class="uploadPhoto" name="photo">
    </span>
  </li>

  <li class="activity">
    <a href="#activity"><span></span></a>
  </li>

  <li class="profile">
    <a href="#profile"><span></span></a>
  </li>

</ul>