.photo-caption {
  background: #fff;
  max-width: 500px;
  margin: 0 auto;

  > .image-and-caption {
    margin-bottom: 10px;
    > img {
      display: block;
      width: 100%;
    }

    textarea {
      width: 100%;
      border-radius: 0;
    }
  }
}

.caption-options{
  width: 100%;
  height: 50px;
  background: #444;

  li{
    list-style: none;
    float: left;
    width: 25%;
    a {
      height: 50px;
      text-align: center;
      display: block;

      i{
        text-align: center;
        font-size: 3em;
        color: #fff;
      }
    }
  }
}