.photo-caption {
  background: #fff;
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;

  > .image-and-caption {
    margin-bottom: 10px;
    > img {
      display: block;
      width: 100%;
    }

    textarea {
      width: 100%;
      border-radius: 0;
    }
  }
}