.crop-container {
  max-width: 500px;
  margin: 0 auto;
}

.cropper {
  height: 100%;
}

.crop-options{
  width: 100%;
  height: 50px;
  background: #25272a;
  padding: 0 0 5px 0;

  li{
    list-style: none;
    float: left;
    width: 25%;
    a {
      height: 50px;
      text-align: center;
      display: block;
      color: #fff;
      i{
        font-size: 2.8em;
      }
    }
  }
}