.img-active {
  max-width: 500px;
  margin: 0 auto;
  img{
    width: 100%;
  }
}

.filters-frame {
  max-width: 500px;
  margin: 0 auto;
  backface-visibility: hidden;
  width: 100%;
  overflow-x: scroll;
  background: #161818;

  @media #{$mobile-xs}, #{$mobile} {
    position: absolute;
  }

  ul {
    padding: 0;
    width: 600px;

    li {
      display: inline-block;
      list-style: none;
      width: 100px;
      > p {
        font-size: 1.1em;
        color: #fff;
        text-align: center;
        margin-top: 5px;
      }
    }
  }
}