.mixin-profile-link {
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mixin-button {
  outline: 0;
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
}

.photo-feed {
  background-color: #fff;
  max-width: 500px;
  width: 100%;
  margin: 0 auto 0 auto;
  margin-bottom: 20px;
  padding-bottom: 1px;

  > .header {
    height: 65px;
    padding: 10px 10px 20px 10px;
    display: flex;
    align-items: flex-start;
    margin-bottom: -25px;
    height: 80px;

    > .avatar-container {
      @include image-circle(50px, 50px, 2px solid #fff);
    }

    > .owner-username-and-name {
      font-size: 1em;
      overflow: hidden;
      flex: 1;
      padding: 0;
      line-height: 1.4;

      .profile_link, .area {
        font-size: 0.9em;
        color: lighten($blue-main, 10%);
        @extend .mixin-profile-link;
      }

      .area {
        font-weight: 200;
        font-size: 0.8em;
        padding-top: -5px;
        color: #999;
      }

    }

    > .timeago {
      margin: 7px 0 0 0;
      color: #ccc;
      font-weight: 200;
    }

  }

  > .photo-container {
    width: 100%;
    background-color: #eeefef;
    margin: 0;

    img {
      width: 100%;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      image-rendering: optimizeSpeed;
      image-rendering: -moz-crisp-edges;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: optimize-contrast;
      image-rendering: pixelated;
      -ms-interpolation-mode: nearest-neighbor;
    }

  }

  > .info {
    padding: 0 20px;
    position: relative;

    > .likes-info {
      margin: 15px 0;
      font-weight: 600;
      color: $blue-main;
    }

    .counters {
      position: absolute;
      top: -10px;
      right: 10px;
      .likes-count, .comments-count, .tagged-count  {
        background: darken($blue-main, 10%);
        color: #fff;
        padding: 5px 10px;
        margin-left: 5px;
        font-weight: 200;
      }
    }

    > .comments {
        max-height: 200px;
        overflow-y: scroll;
        padding-right: 15px;
        display: block;
        width: 100%;
        margin-bottom: 7px;

      ul {
        padding: 0;
        list-style: none;

        li {
          margin-bottom: 7px;
          font-size: 0.9em;

          .timeago {
            color: #a5a7aa;
            padding-left: 5px;
          }

          > .profile_link {
            @extend .mixin-profile-link;
          }

          > .see-more {
            color: #a5a7aa;
          }
        }
      }

    }

    > .buttons-like-and-comment {
      min-width: 100%;
      padding: 0;

      .like, .unlike, > .comment-focus {
        @extend .mixin-button;
        color: #C1C3C3;
        margin-right: 7px;
        font-size: 2.2em;
        float: left;
      }
      .dropdown-toggle {
        color: #C1C3C3;
        font-size: 2.2em;
        padding: 0;
        padding-left: 10px;
      }

      .dropdown-menu {
        border-radius: 0;
        border-color: $blue-main;
      }


      .unlike {
        color: lighten($blue-main, 5%);
      }

    }

    .comment-create-container {
      .form-control {
          border: none;
          border-bottom: 1px solid $blue-main;
          border-right: 1px solid $blue-main;
          padding-left: 0;
        }

      > .input-group-btn{
        > .comment {
          color: $blue-main;
          box-shadow: none;
          border: 1px solid $blue-main;
          background: transparent;
          border-radius: 0;
        }

      }

    }
  }
}