.mixin-profile-link {
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mixin-button {
  outline: 0;
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
}

.photo-feed {
  background-color: #fff;
  max-width: 500px;
  width: 100%;
  margin: 0 auto 0 auto;
  margin-bottom: 20px;
  padding-bottom: 20px;

  > .header {
    height: 65px;
    padding: 10px 10px 20px 10px;
    display: flex;
    align-items: flex-start;
    margin-bottom: -25px;
    height: 80px;

    > .avatar-container {
      @include image-circle(50px, 50px, 2px solid #fff);
    }

    > .owner-username-and-name {
      font-size: 1em;
      overflow: hidden;
      flex: 1;

      > .profile_link, > .area {
        margin-right: 100%;
        max-width: 100%;
        font-size: 0.9em;
        color: lighten($blue-main, 10%);
        @extend .mixin-profile-link;
      }

      > .area {
        font-weight: 200;
        font-size: 0.8em;
        padding-top: -5px;
        color: #999;
      }

    }

    > .timeago {
      margin: 20px 0 0 0;
      color: #ccc;
    }

  }

  > .photo-container {
    width: 100%;
    background-color: #eeefef;
    margin: 0;

    > .photo-image {
      width: 100%;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
    }

  }





  > .info {
    padding: 0 20px;
    position: relative;

    > .likes-info {
      margin: 15px 0;
      font-weight: 600;
      color: $blue-main;
    }

    .counters {
      position: absolute;
      top: -10px;
      right: 10px;
      .likes-count, .comments-count {
        background: darken($blue-main, 10%);
        color: #fff;
        padding: 5px 10px;
        font-weight: 200;
      }
    }

    > .comments {
        display: block;
        width: 100%;
        margin-bottom: 7px;

      ul {
        padding: 0;
        list-style: none;

        li {
          margin-bottom: 7px;
          font-size: 0.9em;

          > .profile_link {
            @extend .mixin-profile-link;
          }

          > .see-more {
            color: #a5a7aa;
          }
        }
      }

    }

    > .buttons-like-and-comment {
      max-width: 100%;
      padding: 0;

      > .like, > .unlike, > .comment-focus {
        @extend .mixin-button;
        color: #C1C3C3;
        margin-right: 7px;
        font-size: 2.2em;
      }

      > .unlike {
        color: lighten($blue-main, 5%);
      }

    }

    > .comment-create-container {
      .form-control {
          border: none;
          border-bottom: 1px solid $blue-main;
        }

      > .input-group-btn{
        > .comment {
          color: #fff;
          box-shadow: none;
          border: 1px solid $blue-main;
          background: $blue-main;
          border-radius: 0;
        }

      }

    }
  }
}