<div class="photos-grid">
<a href="#photo/{{ id }}" class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
  <img src="images/photo-placeholder.gif" data-src="{{#s3Url owner path}}{{/s3Url}}" class="img-responsive"/>
  </a>
</div>