<section class="login">
  <header>
    <img src="images/login-logo.png" class="login">
  </header>

   <ul class="nav nav-tabs" role="tablist">
      <li role="presentation">
        <a href="#login">INGRESAR</a>
      </li>
      <li role="presentation" class="active">
        <a href="#register">REGISTRO</a>
      </li>
    </ul>

  <div class="tabs-and-form">
    <form action="/users" method="post" class="form-register col-lg-12">
      <div class="row">
        <div class="form-group col-xs-8">
        <input type="text" class="form-control" name="email" placeholder="Usuario"/>
        </div>
        <div class="col-xs-4">@bvc.com.co</div>
      </div>

      <div class="form-group">
        <input type="password" class="form-control password" name="password" placeholder="Contraseña" />
      </div>
      <div class="password-strength"></div>
      <a href="#" class="form-register-btn btn">REGISTRO</a>
    </form>
  </div>
</section>

