<img src="{{ profile_image }}">
<b>{{name}}</b>
<span>{{ email }}</span>
<span>{{ are }}</span>

<h2>Bienvenido</h2>

<p>
  Ya eres parte de la red socia de los que nos sentimos #OrgullosamenteBVC
</p>

<span>
  *Recuerda confirmar tu cuenta haciendo click en el mail que enviamos a tu correo.
</span>

